/* color palette */
:root {
  --white: #ffffff;
  --white-soft: #f3f3f3;
  --white-mute: #e8e8e8;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;



  --indigo: hsl(283, 74%, 40%, 1);
  --magenta: hsl(318, 80%, 41%, 1);
  --red-crayola: hsla(347, 83%, 60%, 1);
  --sunglow: hsla(46, 100%, 62%, 1);
  --sunrise: hsla(36, 100%, 60%, 1);
  --beige: hsl(35, 50%, 41%, 1);
  --turquoise: hsla(166, 60%, 52%, 1);
  --sky: hsla(197, 100%, 40%, 1);
  --jade: hsla(154, 85%, 37%, 1);
  --dust: hsla(0, 0%, 80%, 1);

  --indigo-trans: hsl(283, 74%, 40%, 0.3);
  --magenta-trans: hsl(318, 80%, 41%, 0.3);
  --red-crayola-trans: hsla(347, 83%, 60%, 0.3);
  --sunglow-trans: hsla(46, 100%, 62%, 0.3);
  --sunrise-trans: hsla(36, 100%, 60%, 0.3);
  --beige-trans: hsl(35, 50%, 41%, 0.3);
  --turquoise-trans: hsla(166, 60%, 52%, 0.3);
  --sky-trans: hsla(197, 100%, 40%, 0.3);
  --jade-trans: hsla(154, 85%, 37%, 0.3);
  --dust-trans: hsla(0, 0%, 80%, 0.3);

  --rose: hsl(357, 83%, 56%);
  --sea: hsl(240, 81%, 61%);
  --silver: hsl(127, 8%, 43%);
}

/* semantic color variables */
:root {
  --color-background: var(--black);
  --color-background-soft: var(--black-soft);
  --color-background-mute: var(--black-mute);

  --color-text: var(--white-mute);

  font-size: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
